<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roam.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.roam.pojo.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permissionname" jdbcType="VARCHAR" property="permissionname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permissionname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.roam.pojo.Permission">
    insert into permission (id, permissionname)
    values (#{id,jdbcType=INTEGER}, #{permissionname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roam.pojo.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionname != null">
        permissionname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionname != null">
        #{permissionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.roam.pojo.Permission">
    update permission
    <set>
      <if test="permissionname != null">
        permissionname = #{permissionname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roam.pojo.Permission">
    update permission
    set permissionname = #{permissionname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
   <select id="getUserPermission" parameterType="java.lang.String" resultType="java.lang.String">
		select p.permissionname
		from permission p,role_permission rp ,role r,user_role ur,user u
		where p.id = rp.permissionid
		and   rp.roleid = r.id
		and   r.id = ur.roleid
		and   ur.userid = u.id
		and   u.name =  #{username,jdbcType=VARCHAR}
    </select>
  
</mapper>